@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul, ol {
  padding: 0;
}
ul li, ol li {
  list-style: none;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  background-color: #FFFFFF;
  line-height: 1.1;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #000;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

/*----- для модалок ----*/
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*---------------------------*/
[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

/*---------------------------*/
.page {
  flex: 1 1 auto;
  position: relative;
}

/*--------------------------------------*/
/*--------- Bg style -------------------*/
/*--------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------ Buttons style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------ Header style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.header {
  z-index: 3;
  padding: 28px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 86px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CECECE;
  padding: 15px;
  border-radius: 40px;
}
.header__menu .menu__list {
  display: flex;
}
.header__menu .menu__list .menu__link {
  font-size: 14px;
  font-weight: 500;
  margin: 0 14px;
}
.header__menu .menu__list .menu__link a {
  position: relative;
}
.header__menu .menu__list .menu__link a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background: #000;
  transition: all 0.5s ease;
}
.header__menu .menu__list .menu__link a:hover:before {
  width: 100%;
  left: 0;
}
.header__menu .menu__list .menu__link a:hover {
  color: #000;
}
.header__menu .menu__list .carrent-menu__link {
  position: relative;
}
.header__menu .menu__list .carrent-menu__link:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background: #000;
  transition: all 0.5s ease;
}
.header__menu .menu__list .carrent-menu__link:hover:before {
  width: 100%;
  left: 0;
}
.header__menu .menu__list .carrent-menu__link:hover {
  color: #000;
}
.header__menu .menu__list .carrent-menu__link {
  display: flex;
  position: relative;
  cursor: pointer;
  transform: rotateX(0deg);
  z-index: 10;
}
.header__menu .menu__list .carrent-menu__link img {
  width: 12px;
  margin-left: 18px;
}
.header__menu .menu__list .carrent-menu__link .sub-menu__List {
  position: absolute;
  margin-top: 45px;
  width: 126%;
  text-align: left;
  padding: 20px 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform-origin: top center;
  background-color: #fff;
}
.header__menu .menu__list .carrent-menu__link .sub-menu__List .sub-menu__link:not(:last-child) {
  margin-bottom: 20px;
}
.header__menu .menu__list .carrent-menu__link img {
  transition: transform 0.5s ease; /* добавляем анимацию поворота для изображения */
}
.header__menu .menu__list .carrent-menu__link.clicked img {
  transform: rotate(180deg); /* поворачиваем изображение на 180 градусов при активации */
}
.header__menu .menu__list .carrent-menu__link.clicked .sub-menu__List {
  visibility: visible;
  opacity: 1;
}
.header__menu .header__button-mobile {
  display: none;
}

.btn__header {
  display: flex;
}
.btn__header a {
  color: #fff;
  padding: 14px 44px;
  background: #0060FF;
  border: 1px solid #0060FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.btn__header a:hover {
  background: transparent;
  border: 1px solid #0060FF;
  color: #0060FF;
}

.menu__icon {
  display: none;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------ main__section style ------------------------------*/
.hero__title {
  margin-top: 160px;
  text-align: center;
}

.title__h1 {
  font-family: "Lao MN";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.hero__text {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 1026px;
  margin: 0 auto 44px;
}

.hero__content .hero__image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.hero__content .hero__block-text {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
}
.hero__content .hero__block-text .text__block h3 {
  font-family: "Lao MN";
  font-size: 24px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin-bottom: 24px;
}
.hero__content .hero__block-text .text__block p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
}

/*------------ section__choose -------------------------------------*/
.title__h2 {
  font-family: "Lao MN";
  font-size: 44px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  text-transform: uppercase;
}

.section__choose {
  margin-top: 100px;
  padding-bottom: 50px;
}

.choose__title {
  text-align: center;
  margin-bottom: 44px;
}

.choose__slider {
  min-width: 0;
  position: relative;
}

.slider__item img {
  margin-bottom: 20px;
  border-radius: 8px;
}
.slider__item h3 {
  font-family: "Lao MN";
  font-size: 20px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin-bottom: 8px;
}
.slider__item p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 80px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide-active {
  width: 30%;
}
.swiper-slide-active .slider__item {
  background: #0060FF;
  padding: 10px;
  border-radius: 12px;
  color: #fff;
}

.swiper-button-next, .swiper-button-prev {
  top: 97%;
}

.swiper-button-prev {
  position: absolute;
  width: 43px;
  left: 35%;
}

.swiper-button-next {
  position: absolute;
  width: 43px;
  right: 35%;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "";
}

/*------------ Mission -----------------------------------*/
.mission__body {
  padding-bottom: 60px;
}

.mission_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 100px;
}

.mission__text {
  margin-right: 100px;
}
.mission__text h3 {
  font-family: "Lao MN";
  font-size: 44px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin-bottom: 12px;
}
.mission__text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.mission__image {
  width: 100%;
}
.mission__image img {
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mission_content-reverse .mission__text {
  margin-right: 0;
  margin-left: 100px;
}

/*------------ Partners -----------------------------------*/
.section__partner {
  margin-top: 60px;
}

.partner__body {
  padding-bottom: 60px;
}
.partner__body .partner__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner__body .partner__title-block .partner__title {
  text-align: center;
  margin-bottom: 6px;
  max-width: 807px;
}
.partner__body .partner__title-block .partner__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 44px;
  max-width: 845px;
  text-align: center;
}
.partner__body .partner__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.partner__body .partner__descr {
  margin-right: 130px;
}
.partner__body .partner__descr h3 {
  font-family: "Lao MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.partner__body .partner__descr p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
}
.partner__body .partner__descr .button__partner {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.partner__body .partner__descr .button__partner a {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid #0060FF;
  background: #0060FF;
  padding: 14px 54px;
  margin-top: 20px;
  display: inline-flex;
  transition: all 0.3s ease 0s;
}
.partner__body .partner__descr .button__partner a:hover {
  background: transparent;
  color: #0060FF;
}
/*------------ Storage -----------------------------------*/
.section__storage {
  margin-top: 60px;
  padding-bottom: 50px;
}

.storage__body .storage__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.storage__body .storage__title {
  text-align: center;
  max-width: 810px;
}
.storage__body .storage__text {
  text-align: center;
  max-width: 845px;
  margin-bottom: 44px;
}
.storage__body .storage__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.storage__body .storage__content img {
  border-radius: 12px;
}
.storage__body .storage__content .content__text {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding: 18px 44px;
  border-radius: 12px 12px 0px 0px;
  background: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  max-width: 914px;
  margin-top: -120px;
}

/*------------ Tab -----------------------------------*/
.tabs__body {
  padding-bottom: 60px;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 64px;
}

.tab > input[type=radio] {
  display: none;
}

.tab-content {
  display: none;
  width: 100%;
  margin-top: 44px;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4 {
  display: block;
}

.tab > label {
  padding: 14px 24px;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
  color: #000000;
  border-radius: 8px;
  background: #F6F6F6;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tab > label:hover {
  background: #e0e0e0;
  color: #000;
}

.tab > input[type=radio]:checked + label {
  background: #0060FF;
  color: #ffffff;
}

.tabContent-in {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.tabContent-in .tabContent__img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.tabContent-in .tabContent__text {
  margin-left: 120px;
}
.tabContent-in .tabContent__text h4 {
  font-family: "Lao MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.tabContent-in .tabContent__text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 12px;
}
.tabContent-in .tabContent__text .button_tab .tab__btn {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid #0060FF;
  background: #0060FF;
  padding: 14px 54px;
  margin-top: 20px;
  display: inline-flex;
  transition: all 0.3s ease 0s;
}
.tabContent-in .tabContent__text .button_tab .tab__btn:hover {
  background: transparent;
  color: #0060FF;
}

/*------------ Advantages -----------------------------------*/
.section__advantages {
  margin-top: 50px;
  padding-bottom: 50px;
}

.advantages__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
}
.advantages__title-block .advantages__title {
  margin-bottom: 24px;
  text-align: center;
}
.advantages__title-block .advantages__sub-title {
  font-family: "Lao MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.advantages__title-block .advantages__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 935px;
  text-align: center;
}

.advantages__columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.advantages__item {
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.07);
}
.advantages__item img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.advantages__item h4 {
  font-family: "Lao MN";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 24px 14px 0;
}
.advantages__item p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 8px 14px 32px;
}

.advantages__bottom-text {
  margin: 24px auto 0;
  padding: 18px 24px;
  border-radius: 12px;
  background: #0060FF;
  max-width: 846px;
  text-align: center;
}
.advantages__bottom-text span {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*------------ Find us -----------------------------------*/
.section__findus {
  margin-bottom: 50px;
  margin-top: 100px;
}

.findus__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.findus__content .findus__left {
  margin-right: 60px;
}
.findus__content .findus__left .findus__title {
  font-family: "Lao MN";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.findus__content .findus__left p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 18px;
}
.findus__content .findus__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.findus__content .findus__right .findus__image h4 {
  font-family: "Lao MN";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}
.findus__content .findus__right .findus__image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.findus__content .findus__right .findus__image span {
  font-family: "Lao MN";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
}

/*----------------------------------------------------------------------------------------*/
/*------------ Footer style --------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*-------------------- Footer -------------------------------------------------------*/
.footer__body {
  border-top: 2px solid #CECECE;
  padding: 32px 0 18px;
  display: grid;
  grid-template-columns: 305px 1fr 305px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
}
.footer__logo a {
  display: block;
  margin-bottom: 24px;
}
.footer__logo a img {
  max-width: 100px;
}
.footer__logo span {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.footer__navigation {
  display: flex;
  justify-content: center;
}

.navigation_list {
  margin: 0 24px;
}
.navigation_list h4 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-transform: uppercase;
  margin-bottom: 12px;
}
.navigation_list .navigation_left li,
.navigation_list .navigation_center li,
.navigation_list .navigation_right li {
  margin-bottom: 18px;
}
.navigation_list .navigation_left li a,
.navigation_list .navigation_center li a,
.navigation_list .navigation_right li a {
  position: relative;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  font-family: "Montserrat";
}
.navigation_list .navigation_left li a:before,
.navigation_list .navigation_center li a:before,
.navigation_list .navigation_right li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background: #000;
  transition: all 0.5s ease;
}
.navigation_list .navigation_left li a:hover:before,
.navigation_list .navigation_center li a:hover:before,
.navigation_list .navigation_right li a:hover:before {
  width: 100%;
  left: 0;
}
.navigation_list .navigation_left li a:hover,
.navigation_list .navigation_center li a:hover,
.navigation_list .navigation_right li a:hover {
  color: #000;
}

.footer__address .address_list {
  display: flex;
  flex-direction: column;
}
.footer__address .address_list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 18px;
}
.footer__address .address_list li img {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
.footer__address .address_list li a {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.footer__address .address_list li .tel {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 0 0 18px;
}
.copyright span {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

@media screen and (max-width: 1120.98px) {
  .footer__body {
    grid-template-columns: 238px 1fr 238px;
  }
}
@media screen and (max-width: 959.98px) {
  .footer__body {
    grid-template-columns: 180px 1fr 238px;
  }
  .navigation_list {
    margin: 0px 15px;
  }
}
@media screen and (max-width: 859.98px) {
  .footer__navigation {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768.98px) {
  .footer__body {
    grid-template-columns: 1fr;
  }
  .footer__logo {
    align-items: center;
    margin-bottom: 14px;
  }
  .footer__logo span {
    text-align: center;
  }
  .footer__navigation {
    margin: 30px 0;
    justify-content: flex-start;
  }
  .footer__navigation .navigation_list {
    margin: 0px 36px;
  }
  .footer__address .address_list {
    margin-left: 50px;
  }
}
@media screen and (max-width: 479.98px) {
  .navigation_list:last-child {
    margin-top: 30px;
  }
}
/*=========================================================================================*/
/*=========================================================================================*/
/*============================ Media queries ==============================================*/
/*=========================================================================================*/
/*=========================================================================================*/
@media screen and (min-width: 1512.98px) {
  .choose__slider {
    width: 1600px;
  }
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: -10%;
  }
  .swiper-button-prev {
    left: 30%;
  }
  .swiper-button-next {
    right: 50%;
  }
}
@media screen and (max-width: 992.98px) {
  .choose__slider {
    margin-left: 60px;
  }
  .mission_content .mission__text {
    margin-right: 30px;
  }
  .mission_content-reverse .mission__text {
    margin-left: 0;
  }
  .partner__body .partner__descr {
    margin-right: 30px;
  }
  .tabContent-in .tabContent__text {
    margin-left: 30px;
  }
}
@media screen and (max-width: 959.98px) {
  /*-------- Mobile menu style ---------*/
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 32px;
    border-radius: 4px;
    background: #0060FF;
  }
  .menu__icon span {
    position: absolute;
    left: 7px;
    top: 8px;
    height: 1px;
    width: 14px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    width: 14px;
    left: 7px;
    height: 1px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon::before {
    top: 14px;
  }
  .menu__icon::after {
    bottom: 7px;
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    left: 7px;
    width: 15px;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    left: 6px;
    width: 15px;
    transform: rotate(45deg) translate(0px, -50%);
  }
  /*----------------- style mobile menu --------------------------*/
  .header__menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: translate(100%);
    border: none;
    border-radius: 0;
    background: #fff;
    height: 100vh;
    left: 0;
    top: 0;
  }
  .header__menu .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .header__menu .menu__list .menu__link {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .header__menu .menu__list .carrent-menu__link .sub-menu__List {
    text-align: center;
    z-index: 10;
    margin-top: 30px;
  }
  .header__menu .menu__list .carrent-menu__link .sub-menu__List .sub-menu__link {
    margin-bottom: 20px;
  }
  .header__menu .header__button-mobile {
    margin-top: 20px;
    display: block;
    position: relative;
  }
  ._active {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
  }
  .header__button {
    display: none;
  }
  /*------------------------------*/
  .storage__body .storage__content .content__text {
    font-size: 16px;
    margin-top: -70px;
    border-radius: 12px;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .findus__content .findus__right {
    grid-template-columns: 1fr;
  }
  .findus__content .findus__right .findus__image img {
    height: 160px;
  }
  .findus__content .findus__left {
    margin-right: 0;
  }
  .findus__content .findus__left .findus__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 768.98px) {
  .title__h1 {
    font-size: 32px;
  }
  .title__h2 {
    font-size: 24px;
  }
  .hero__text {
    font-size: 14px;
  }
  .hero__content .hero__block-text {
    margin-top: 20px;
  }
  .hero__content .hero__block-text .text__block h3 {
    font-size: 18px;
  }
  .hero__content .hero__block-text .text__block p {
    font-size: 14px;
  }
  .swiper-button-next, .swiper-button-prev {
    top: 96.5%;
  }
  .swiper-button-prev {
    left: 5%;
  }
  .swiper-button-next {
    right: 5%;
  }
  .mission_content {
    grid-template-columns: 1fr;
  }
  .mission_content .mission__text {
    margin-right: 0;
    margin-left: 0;
  }
  .mission_content .mission__text h3 {
    font-size: 24px;
  }
  .mission_content .mission__text p {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .mission_content-reverse {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .partner__body .partner__content {
    grid-template-columns: 1fr;
  }
  .partner__body .partner__image {
    margin-top: 20px;
  }
  .partner__body .partner__descr {
    margin-right: 0;
  }
  .partner__body .partner__descr .button__partner {
    align-items: center;
  }
  .tabContent-in {
    grid-template-columns: 1fr;
  }
  .tabContent-in .tabContent__text {
    margin-left: 0;
    margin-top: 30px;
  }
  .tabContent-in .tabContent__img img {
    height: 360px;
    -o-object-position: top;
       object-position: top;
  }
  .tabContent-in .tabContent__text h4 {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .tabContent-in .tabContent__text p {
    font-size: 14px;
  }
  .tabContent-in .tabContent__text .button_tab {
    display: flex;
    justify-content: center;
  }
  .advantages__title-block .advantages__sub-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .advantages__title-block .advantages__text {
    font-size: 14px;
  }
  .advantages__item h4 {
    font-size: 20px;
  }
  .advantages__item p {
    font-size: 14px;
  }
  .advantages__bottom-text span {
    font-size: 14px;
  }
  .section__findus {
    margin-top: 70px;
  }
  .findus__content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .findus__content .findus__right {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 559.98px) {
  .hero__content .hero__block-text {
    grid-template-columns: 1fr;
  }
  .hero__image img {
    height: 180px;
  }
  .storage__body .storage__content .content__text {
    margin-top: -20px;
    border-radius: 12px;
  }
  .advantages__columns {
    grid-template-columns: 1fr;
  }
  .advantages__columns .advantages__item img {
    height: 220px;
    -o-object-position: top;
       object-position: top;
  }
}
@media screen and (max-width: 480.98px) {
  .choose__slider {
    margin-left: 5px;
    margin-right: 5px;
  }
  .slider__item h3 {
    font-size: 18px;
    padding: 0 16px;
  }
  .slider__item p {
    font-size: 12px;
    padding: 0 16px 24px;
  }
  .partner__body .partner__title-block .partner__text {
    font-size: 12px;
  }
  .partner__body .partner__descr h3 {
    font-size: 24px;
  }
  .partner__body .partner__descr p {
    font-size: 14px;
  }
  .tab > label {
    width: 100%;
    text-align: center;
  }
  .tabContent-in .tabContent__img img {
    height: 290px;
  }
  .findus__content .findus__right {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=about.css.map */