
@font-face {
    font-family: 'lao-mn-bold';
    src: url('../fonts/lao-mn-bold.eot');
    src: local('../fonts/lao-mn-bold'),
        url('../fonts/lao-mn-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'lao-mn';
    src: url('../fonts/lao-mn.eot');
    src: local('../fonts/lao-mn'),
        url('../fonts/lao-mn.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}