@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul, ol {
  padding: 0;
}
ul li, ol li {
  list-style: none;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  background-color: #FFFFFF;
  line-height: 1.1;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #000;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

/*----- для модалок ----*/
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*---------------------------*/
[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

/*---------------------------*/
.page {
  flex: 1 1 auto;
  position: relative;
}

/*--------------------------------------*/
/*--------- Bg style -------------------*/
/*--------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------ Buttons style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------ Header style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.header {
  z-index: 3;
  padding: 28px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #FFFFFF;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CECECE;
  padding: 15px;
  border-radius: 40px;
}
.header__menu .menu__list {
  display: flex;
}
.header__menu .menu__list .menu__link {
  font-size: 14px;
  font-weight: 500;
  margin: 0 14px;
}
.header__menu .menu__list .menu__link a {
  position: relative;
}
.header__menu .menu__list .menu__link a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background: #000;
  transition: all 0.5s ease;
}
.header__menu .menu__list .menu__link a:hover:before {
  width: 100%;
  left: 0;
}
.header__menu .menu__list .menu__link a:hover {
  color: #000;
}
.header__menu .menu__list .carrent-menu__link {
  position: relative;
}
.header__menu .menu__list .carrent-menu__link:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background: #000;
  transition: all 0.5s ease;
}
.header__menu .menu__list .carrent-menu__link:hover:before {
  width: 100%;
  left: 0;
}
.header__menu .menu__list .carrent-menu__link:hover {
  color: #000;
}
.header__menu .menu__list .carrent-menu__link {
  display: flex;
  position: relative;
  cursor: pointer;
  transform: rotateX(0deg);
  z-index: 10;
}
.header__menu .menu__list .carrent-menu__link img {
  width: 12px;
  margin-left: 18px;
}
.header__menu .menu__list .carrent-menu__link .sub-menu__List {
  position: absolute;
  margin-top: 45px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform-origin: top center;
  background-color: #fff;
  padding: 20px 15px;
  width: 126%;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}
.header__menu .menu__list .carrent-menu__link .sub-menu__List .sub-menu__link {
  margin-bottom: 15px;
}
.header__menu .menu__list .carrent-menu__link img {
  transition: transform 0.5s ease; /* добавляем анимацию поворота для изображения */
}
.header__menu .menu__list .carrent-menu__link.clicked img {
  transform: rotate(180deg); /* поворачиваем изображение на 180 градусов при активации */
}
.header__menu .menu__list .carrent-menu__link.clicked .sub-menu__List {
  visibility: visible;
  opacity: 1;
}
.header__menu .header__button-mobile {
  display: none;
}

.btn__header {
  display: flex;
}
.btn__header a {
  color: #fff;
  padding: 14px 44px;
  background: #0060FF;
  border: 1px solid #0060FF;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.btn__header a:hover {
  background: transparent;
  border: 1px solid #0060FF;
  color: #0060FF;
}

.menu__icon {
  display: none;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.title__h1 {
  font-family: "Lao MN";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.title__h2 {
  font-family: "Lao MN";
  font-size: 44px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  text-transform: uppercase;
}

.title__h3 {
  font-family: "Lao MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

/*------------ main__section style ------------------------------*/
.g-hero__title {
  margin-top: 160px;
  text-align: center;
}

.g-hero__text {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 1026px;
  margin: 0 auto 44px;
}

.g-hero__content .g-hero__image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.g-hero__content .g-hero__block-text {
  margin-top: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
}
.g-hero__content .g-hero__block-text .text__block h3 {
  font-family: "Lao MN";
  font-size: 24px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin-bottom: 24px;
}
.g-hero__content .g-hero__block-text .text__block p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
}

/*------------ G-Partnership -------------------------------------*/
.g-partnership {
  margin-top: 100px;
  padding-bottom: 50px;
}

.g-partnership__title {
  text-align: center;
  max-width: 790px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.g-partnership__column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  position: relative;
}
.g-partnership__column .g-partnership__item {
  margin-top: 30px;
}
.g-partnership__column .g-partnership__item p {
  font-family: "Lao MN";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}

.baner__wrap {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-top: 20px;
}
.baner__wrap .g-partnership__item p {
  font-family: "Lao MN";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}
.baner__wrap .item_baner .g-partnership_baner {
  background: url("../img/Graphic-paper/paper_baner.jpg") center/cover no-repeat;
  border-radius: 18px;
  padding: 44px 80px 44px 24px;
}
.baner__wrap .item_baner .g-partnership_baner h3 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  max-width: 840px;
  margin-bottom: 8px;
}
.baner__wrap .item_baner .g-partnership_baner p {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  max-width: 750px;
  margin-bottom: 18px;
}
.baner__wrap .item_baner .g-contributing_button-baner a {
  color: #000000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid #ffffff;
  background: #ffffff;
  padding: 14px 54px;
  margin-top: 20px;
  display: inline-flex;
  transition: all 0.3s ease 0s;
}
.baner__wrap .item_baner .g-contributing_button-baner a:hover {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/*------------ contributing ----------------------------*/
.g-contributing__mission {
  margin-top: 100px;
}

.g-contributing__body {
  padding-bottom: 60px;
}

.g-contributing_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 100px;
}

.g-contributing__text {
  margin-right: 100px;
}
.g-contributing__text h3 {
  font-family: "Lao MN";
  font-size: 44px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin-bottom: 12px;
}
.g-contributing__text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.g-contributing__image {
  width: 100%;
}
.g-contributing__image img {
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.g-contributing_content-reverse .g-contributing__text {
  margin-right: 0;
  margin-left: 100px;
}

.g-contributing_button {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.g-contributing_button a {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid #0060FF;
  background: #0060FF;
  padding: 14px 54px;
  margin-top: 20px;
  display: inline-flex;
  transition: all 0.3s ease 0s;
}
.g-contributing_button a:hover {
  background: transparent;
  color: #0060FF;
}

/*------------ experience ----------------------------*/
.section__experience-g {
  margin: 50px 0;
}

.g-experience__body {
  background: linear-gradient(87deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.26) 79.91%), url("../img/Graphic-paper/g-bottom_img.jpg") center/cover no-repeat;
  border-radius: 18px;
  padding: 80px 64px;
}
.g-experience__body .g-experience__title {
  color: #FFF;
  font-family: "Lao MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 715px;
  margin-bottom: 24px;
}
.g-experience__body p {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  max-width: 756px;
}
.g-experience__body p:not(:last-child) {
  margin-bottom: 24px;
}
.g-experience__body .g-experience_button a {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid #0060FF;
  background: #0060FF;
  padding: 14px 54px;
  margin-top: 20px;
  display: inline-flex;
  transition: all 0.3s ease 0s;
}
.g-experience__body .g-experience_button a:hover {
  background: transparent;
  color: #0060FF;
}

/*----------------------------------------------------------------------------------------*/
/*------------ Footer style --------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.footer {
  background: #002F7D;
  padding: 54px 0;
}

.footer__body {
  display: grid;
  grid-template-columns: 230px 410px 1fr;
}

.footer__logo {
  display: flex;
  flex-direction: column;
}
.footer__logo a {
  display: block;
  margin-bottom: 24px;
}
.footer__logo a img {
  max-width: 100px;
}
.footer__logo span {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.footer__address .address_list {
  display: flex;
  flex-direction: column;
}
.footer__address .address_list li {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.footer__address .address_list li a {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.footer__address .address_list li .mail {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.footer__address .address_list li .tel {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.footer__address .address_list li:not(:last-child) {
  margin-bottom: 44px;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
}

.navigation_list {
  margin: 0 36px;
}
.navigation_list h4 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-transform: uppercase;
  margin-bottom: 12px;
}
.navigation_list .navigation_left li,
.navigation_list .navigation_center li,
.navigation_list .navigation_right li {
  margin-bottom: 18px;
}
.navigation_list .navigation_left li a,
.navigation_list .navigation_center li a,
.navigation_list .navigation_right li a {
  color: #fff;
  position: relative;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  font-family: "Montserrat";
}
.navigation_list .navigation_left li a:before,
.navigation_list .navigation_center li a:before,
.navigation_list .navigation_right li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background: #ffffff;
  transition: all 0.5s ease;
}
.navigation_list .navigation_left li a:hover:before,
.navigation_list .navigation_center li a:hover:before,
.navigation_list .navigation_right li a:hover:before {
  width: 100%;
  left: 0;
}
.navigation_list .navigation_left li a:hover,
.navigation_list .navigation_center li a:hover,
.navigation_list .navigation_right li a:hover {
  color: #ffffff;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px 0 0;
}
.copyright span {
  font-size: 10px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

@media screen and (max-width: 1170.98px) {
  .footer__body {
    display: grid;
    grid-template-columns: 200px 290px 1fr;
  }
}
@media screen and (max-width: 992.98px) {
  .footer__body {
    display: grid;
    grid-template-columns: 160px 220px 1fr;
  }
}
@media screen and (max-width: 859.98px) {
  .footer__body {
    display: grid;
    grid-template-columns: 130px 220px 1fr;
  }
  .navigation_list {
    margin: 0 20px;
  }
}
@media screen and (max-width: 768.98px) {
  .footer__body {
    grid-template-columns: 1fr;
  }
  .footer__logo {
    align-items: center;
    margin-bottom: 14px;
  }
  .footer__logo span {
    text-align: center;
  }
  .footer__address {
    display: flex;
    justify-content: center;
  }
  .footer__address .address_list {
    margin-left: 0;
    text-align: center;
  }
  .footer__address .address_list li:not(:last-child) {
    margin-bottom: 32px;
  }
  .footer__navigation {
    margin: 45px 0 30px;
    justify-content: center;
  }
  .footer__navigation .navigation_list {
    margin: 0px 36px;
  }
  .copyright {
    justify-content: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 540.98px) {
  .footer__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__navigation .navigation_list:last-child {
    margin-top: 30px;
  }
}
@media screen and (max-width: 480.98px) {
  .footer__navigation .navigation_list {
    margin: 0px 20px;
    width: 100%;
  }
}
/*=========================================================================================*/
/*=========================================================================================*/
/*============================ Media queries ==============================================*/
/*=========================================================================================*/
/*=========================================================================================*/
@media screen and (max-width: 959.98px) {
  /*-------- Mobile menu style ---------*/
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 32px;
    border-radius: 4px;
    background: #0060FF;
  }
  .menu__icon span {
    position: absolute;
    left: 7px;
    top: 8px;
    height: 1px;
    width: 14px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    width: 14px;
    left: 7px;
    height: 1px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon::before {
    top: 14px;
  }
  .menu__icon::after {
    bottom: 7px;
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    left: 7px;
    width: 15px;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    left: 6px;
    width: 15px;
    transform: rotate(45deg) translate(0px, -50%);
  }
  /*----------------- style mobile menu --------------------------*/
  .header__menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: translate(100%);
    border: none;
    border-radius: 0;
    background: #fff;
    height: 100vh;
    left: 0;
    top: 0;
  }
  .header__menu .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .header__menu .menu__list .menu__link {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .header__menu .menu__list .carrent-menu__link .sub-menu__List {
    width: 100%;
    text-align: center;
    padding: 20px;
    z-index: 10;
    margin-top: 30px;
  }
  .header__menu .menu__list .carrent-menu__link .sub-menu__List .sub-menu__link {
    margin-bottom: 20px;
  }
  .header__menu .header__button-mobile {
    margin-top: 20px;
    display: block;
    position: relative;
  }
  ._active {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
  }
  .header__button {
    display: none;
  }
}
@media screen and (max-width: 768.98px) {
  .title__h1 {
    font-size: 30px;
  }
  .title__h2 {
    font-size: 24px;
  }
  .title__h3 {
    font-size: 22px;
  }
  .hero__text {
    font-size: 14px;
  }
  .g-hero__content .g-hero__block-text {
    margin-top: 20px;
  }
  .g-hero__content .g-hero__block-text .text__block h3 {
    font-size: 18px;
  }
  .g-hero__content .g-hero__block-text .text__block p {
    font-size: 14px;
  }
  .g-partnership__column {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .g-contributing_content {
    grid-template-columns: 1fr;
  }
  .g-contributing_content .g-contributing__text {
    margin-right: 0;
    margin-left: 0;
  }
  .g-contributing_content .g-contributing__text h3 {
    font-size: 24px;
  }
  .g-contributing_content .g-contributing__text p {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .contributing_content {
    grid-template-columns: 1fr;
  }
  .contributing_content .contributing__text {
    margin-right: 0;
    margin-left: 0;
  }
  .contributing_content .contributing__text h3 {
    font-size: 24px;
  }
  .contributing_content .contributing__text p {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .g-contributing_content-reverse {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .g-contributing_content-reverse .g-contributing__text {
    margin-bottom: 40px;
  }
  .g-contributing_content-reverse .g-contributing__text .g-contributing_button {
    align-items: center;
  }
  .baner__wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .baner__wrap .item_baner .g-partnership_baner h3 {
    font-size: 16px;
  }
  .g-experience__body {
    padding: 40px 32px;
  }
  .g-experience__body .g-experience__title {
    font-size: 24px;
  }
  .g-experience__body p {
    font-size: 14px;
  }
}
@media screen and (max-width: 559.98px) {
  .g-hero__content .g-hero__block-text {
    grid-template-columns: 1fr;
  }
  .g-hero__image img {
    height: 180px;
  }
}
@media screen and (max-width: 479.98px) {
  .g-partnership {
    margin-top: 70px;
  }
  .g-partnership__column {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .g-contributing__mission {
    margin-top: 70px;
  }
  .baner__wrap {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 414.98px) {
  .g-contributing_content {
    margin-top: 70px;
  }
  .g-partnership__column .g-partnership__item p {
    font-size: 14px;
  }
  .baner__wrap .g-partnership__item p {
    font-size: 14px;
  }
  .baner__wrap .item_baner .g-partnership_baner {
    padding: 44px 24px;
    border-radius: 8px;
  }
}/*# sourceMappingURL=graphic_paper.css.map */