
*{
	box-sizing:border-box;
	margin:0;
	padding:0
}
a {
	text-decoration: none;
	color: #000;
} 
ul, ol {
	padding: 0;
	li {
		list-style: none;
	}
}
img {
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	background-color: #FFFFFF;
	line-height: 1.1;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	height: 100%;
}
body._lock {
	overflow: hidden;
}
/*----- для модалок ----*/
body.lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
/*---------------------------*/
[class*="__container"] {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
}
html,body{
	height:100%
}
/*---------------------------*/
.page {
	flex: 1 1 auto;
	position: relative;
}
// body{
// 	min-width:320px;
// 	font:16px/1.4 "Montserrat",sans-serif;
// 	background:#fff;
// 	color:#000;
// 	display:flex;
// 	flex-direction:column
// }
// @media(max-width: 768px){
// 	body{
// 		font-size:12px
// 	}
// }
// .wrapper{
// 	flex:1;
// }
// p,ul,ol{
// 	margin-bottom:20px
// }
// h1,h2,h3,h4,h5,h6{
// 	margin-bottom:20px
// }
img{
	max-width:100%;
	max-height:100%
}
.container{
	max-width:1310px;
	width:100%;
	margin:0 auto;
	padding:0 15px
}
.btn{
	transition:all .5s ease;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:0 44px;
	height:44px;
	font-weight:600;
	font-size:14px;
	border:1px solid #fff;
	text-decoration:none;
	border-radius:64px
}
.btn-white{
	color:#000;
	background:#fff
}
.btn-white:hover{
	background:rgba(0,0,0,0);
	color:#fff
}
.btn-transparent{
	background:rgba(0,0,0,0);
	color:#fff
}
.btn-transparent:hover{
	background:#fff;
	color:#000
}
.btn-default{
	border:1px solid #0060ff;
	background:#0060ff;
	height:53px;
	padding:0 54px;
	color:#fff
}
@media(max-width: 768px){
	.btn-default{
		height:43px;
		width:207px;
		justify-content:center;
		padding:0
	}
}
.btn-default:hover{
	color:#0060ff;
	background:rgba(0,0,0,0)
}



.head__wrapper {
	position: relative;
	display: flex;
	padding-top: 200px;
}
.block_container {
	z-index: 10;
}

.head__images-desc {
    position: absolute;
    right: -50px;
    bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 34.34375vw;
    height: 36.3020833333vw;
	max-width: 500px;
    height: 490px;
    width: 100%;
}
.head__images-desc img {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s ease;
}
.head__images-desc img.active {
	opacity: 1;
}

.head__images-mobile {
	display: none;
	position: absolute;
    left: 21%;
    top: 180px;
    align-items: center;
    justify-content: center;
    max-width: 57.34375vw;
    height: 67.302083vw;
    width: 100%;
}
.head__images-mobile img {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s ease;
}
.head__images-mobile img.active {
	opacity: 1;
}



.content h1,.content h2{
	margin-bottom:24px;
	font-family:"Lao MN",sans-serif;
	font-weight:400;
	font-size:48px;
	line-height:normal
}
.content p {
	line-height: 140%;
}
@media(max-width: 1100px){
	.content h1,.content h2{
		font-size:44px
	}
}
@media(max-width: 1024px){
	.content h1,.content h2{
		font-size:32px
	}
}
@media(max-width: 768px){
	.content h1,.content h2{
		margin-bottom:12px;
		font-size:24px
	}
}
.content h3,.content h4,.content h5{
	margin-bottom:24px;
	font-weight:400;
	line-height:normal;
	font-size:32px;
	font-family:"Lao MN",sans-serif
}
@media(max-width: 1024px){
	.content h3,.content h4,.content h5{
		font-size:24px
	}
}
@media(max-width: 768px){
	.content h3,.content h4,.content h5{
		font-size:24px;
		margin-bottom:12px;
	}
	.content p {
		font-size: 14px;
		margin-top: 24px;
	}
}
.content h6{
	font-weight:600;
	line-height:140%;
	margin-bottom:12px;
	font-size:16px;
	margin-top: 12px;
}
@media(max-width: 768px){
	.content h6{
		margin-top: 12px;
		font-size:14px;
		text-align:center
	}
}
.content img{
	width:100%;
	display:flex;
	border-radius:16px;
	-o-object-fit:cover;
	object-fit:cover;
	height:100%;
	margin-bottom: 24px;
}
.content .image_height {
	height: 512px;
}
@media(max-width: 768px){
	.content img{
		max-height:100%;
		max-width:100%;
		width:100%;
		margin:0 auto
	}
}
@media(max-width: 400px){
	.content img{
		width:100%
	}
}
.content p:last-child{
	margin:0
}
.content a{
	display:inline-flex;
	align-items:center;
	border-radius:64px;
	border:1px solid #0060ff;
	height:53px;
	background:#0060ff;
	font-weight:700;
	font-size:14px;
	color:#fff;
	padding:0 54px;
	transition:all .5s ease;
	text-decoration:none
}
@media(max-width: 768px){
	.content a{
		display:flex;
		justify-content: center;
		width:200px;
		height:43px;
		font-size:12px;
		margin:0 auto
	}
}
.content a:hover{
	background:rgba(0,0,0,0);
	color:#0060ff
}

/*-----------------  header -------------------------------------------------*/

.bg-head {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease 0s;

}


.header__main {
	z-index: 10;
	padding: 28px 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	// background: #fff;
	.header__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header__logo {
		max-width: 86px;
	}
	.header__menu {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #ffffff;
		padding: 15px;
		border-radius: 40px;
		.menu__list {
			display: flex;
			margin-bottom: 0;
			list-style: none;
			.arrow_mob {
				display: none;
			}
			.menu__link {
				font-size: 14px;
				font-weight: 500;
				margin: 0 14px;
				color: #fff;
				a {
					position: relative;
					&:before {
						content: "";
						position: absolute;
						top: 100%;
						left: 50%;
						width: 0;
						height: 1px;
						background: #ffffff;
						transition: all .5s ease;
					}
					&:hover:before {
						width: 100%;
						left: 0;
					}
					&:hover {
						color: #ffffff;
					}
				}
			}
			.carrent-menu__link {
				position: relative;
				&:before {
					content: "";
					position: absolute;
					top: 100%;
					left: 50%;
					width: 0;
					height: 1px;
					background: #ffffff;
					transition: all .5s ease;
				}
				&:hover:before {
					width: 100%;
					left: 0;
				}
				&:hover {
					color: #ffffff;
				}
			}
			.carrent-menu__link {
				display: flex;
				position: relative;
				cursor: pointer;
				transform: rotateX(0deg);
				z-index: 10;
				img	{
					width: 12px;
					margin-left: 18px;
				}
				.sub-menu__List {
					position: absolute;
					margin-top: 45px;
					width: 126%;
					text-align: left;
					padding: 20px 15px;
					visibility: hidden;
					opacity: 0;
					transition: opacity 0.5s ease, transform 0.5s ease; 
					transform-origin: top center;
					background-color: #fff;
					border-radius: 15px;
					box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
					.sub-menu__link:not(:last-child) {
						margin-bottom: 20px;
					}
					.sub-menu__link {
						a:hover {
							color: #000;
							&:before {
								content: "";
								position: absolute;
								top: 100%;
								left: 50%;
								width: 0;
								height: 1px;
								background: #000000;
								transition: all .5s ease;
							}
							&:hover:before {
								width: 100%;
								left: 0;
							}
							&:hover {
								color: #030303;
							}
						}
					}
					
				}
			}
			.carrent-menu__link img {
				transition: transform 0.5s ease; /* добавляем анимацию поворота для изображения */
			}
		
			.carrent-menu__link.clicked img {
				transform: rotate(180deg); /* поворачиваем изображение на 180 градусов при активации */
			}
			.carrent-menu__link.clicked .sub-menu__List {
				visibility: visible;
				opacity: 1;
			}
		}
		.header__button-mobile {
			display: none;
		}
	}
	
}
.btn__header {
	display: flex;
	a {
		color: #000000;
		padding: 14px 44px;
		background: #fff;
		border: 1px solid #ffffff;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		border-radius: 30px;
		transition: all 0.3s ease;
		&:hover {
			background: transparent;
			border: 1px solid #ffffff;
			color: #ffffff;
		}
	}
}
.menu__icon {
	display: none;
}

/*------------ and header --------------------*/
.head{
	position:relative;
	overflow:hidden;
	background: url('../img/main_background.png') center / cover no-repeat;
	padding-bottom: 60px;
	margin-bottom:100px;
}
@media(max-width: 768px){
	.head{
		margin-bottom:44px
	}
	
}
.head .container{
	position:relative;
	z-index:5
}

.head__title{
	margin-bottom:12px;
	font-family:"Lao MN",sans-serif;
	font-size:64px;
	font-weight:700;
	color:#fff;
	max-width:771px
}
@media(max-width: 768px){
	.head__title{
		font-size:32px
	}
}
.head__description{
	font-weight:500;
	line-height:140%;
	font-size:16px;
	color:#fff;
	max-width:700px;
	margin-bottom:44px;
}
@media(max-width: 768px){
	.head__description{
		font-size:14px;
	}
}
.head__description p:last-child{
	margin-bottom:0
}
.head__bg{
	position:absolute;
	right:0;
	bottom:0;
	display:flex;
	z-index:1;
	max-width:inherit;
	max-height:inherit;
	max-width:45%;
	-o-object-fit:contain;
	object-fit:contain;
}


@media(max-width: 768px){
	.head__bg.mobile{
		display:block;
		width:68%;
		max-height:inherit;
		bottom:-64px;
		right:-11%;
		max-width:260px
	}
}
.head__btns{
	display:flex;
	align-items:center;
	margin-bottom:64px
}
@media(max-width: 768px){
	.head__btns{
		flex-direction:column
	}
}
.head__btns a{
	min-width:168px
}
@media(max-width: 768px){
	.head__btns a{
		min-width:200px
	}
}
.head__btns a:not(:last-child){
	margin-right:24px
}
@media(max-width: 768px){
	.head__btns a:not(:last-child){
		margin-right:0;
		margin-bottom:12px
	}
}
.head__list{
	list-style:none;
	margin:0;
	display:flex
}
@media(max-width: 768px){
	.head__list{
		display:none
	}
}
.head__list li{
	max-width:155px;
	color:#fff
}
.head__list li:not(:last-child){
	margin-right:64px
}
.head__list li span{
	display:block;
	margin-bottom:5px;
	font-size:54px
}
.head__image{
	position:absolute;
	right:0;
	bottom:20px;
	display:flex;
	max-width:40%;
	z-index:1
}
.head__shadow:before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5)
}

.our-prods {
	.head__list {
		display: none;
		li {
			color: #000;
		}
	}
}
.image_height {
	height: 372px;
}
@media(max-width: 768px){
	.our-prods {
		.head__list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-bottom: 50px;
			li {
				margin-right: 0;
				span {
					font-size: 32px;
				}
			}
			li:last-child {
				margin-left: 40px;
				width: 100%;
			}
		}
	}
}

.our-prods{
	margin-bottom:100px
}
@media(max-width: 768px){
	.our-prods{
		margin-bottom:68px
	}
}
.our-prods__wrap{
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	gap:99px 89px
}
@media(max-width: 1024px){
	.our-prods__wrap{
		gap:30px
	}
}
@media(max-width: 768px){
	.our-prods__wrap{
		display:block
	}
}
@media(max-width: 768px){
	.our-prods__col:not(:last-child){
		margin-bottom:45px
	}
}
.our-prods__col-3 p:nth-child(2){
	margin-bottom:100px
}
@media(max-width: 768px){
	.our-prods__col-3 p:nth-child(2){
		margin-bottom:45px
	}
}
.our-prods__col-4 img{
	max-width:530px;
	margin-left:auto;
	display:flex
}
.our-prod-2 {
	height: 180px;
}
.our-prods__col-4 p:nth-child(1){
	margin-bottom:87px
}
@media(max-width: 768px){
	.our-prods__col-4 p:nth-child(1){
		margin-bottom:45px
	}
}
.h-partners{
	margin-bottom:140px
}
@media(max-width: 768px){
	.h-partners{
		margin-bottom:72px
	}
}
.h-partners__title{
	text-align:center;
	font-weight:400;
	line-height:normal;
	font-size:44px;
	font-family:"Lao MN",sans-serif;
	margin-bottom:12px
}
@media(max-width: 768px){
	.h-partners__title{
		font-size:24px
	}
}
.h-partners__description{
	text-align:center;
	font-size:16px;
	margin-bottom:44px;
	line-height: 140%;
}
@media(max-width: 768px){
	.h-partners__description{
		margin-bottom:32px;
		font-size:14px
	}
}
.h-partners__description p:last-child{
	margin-bottom:0
}
.h-partners__slider{
	height:250px
}
@media(max-width: 768px){
	.h-partners__slider{
		height:176px
	}
}
.h-partners__slider .swiper-slide{
	height:110px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	margin:0
}
@media(max-width: 768px){
	.h-partners__slider .swiper-slide{
		height:37px;
		margin-bottom:18px
	}
}
.h-partners__slider .swiper-slide img{
	display:flex
}
.h-partners .swiper-horizontal>.swiper-scrollbar,.h-partners .swiper-scrollbar.swiper-scrollbar-horizontal{
	position:relative;
	left:0;
	bottom:0;
	width:310px;
	height:1px;
	background:#c8c8c8;
	margin:15px auto 0
}
@media(max-width: 768px){
	.h-partners .swiper-horizontal>.swiper-scrollbar,.h-partners .swiper-scrollbar.swiper-scrollbar-horizontal{
		width:100%
	}
}
.h-partners .swiper-horizontal>.swiper-scrollbar .swiper-scrollbar-drag,.h-partners .swiper-scrollbar.swiper-scrollbar-horizontal .swiper-scrollbar-drag{
	height:4px;
	background:#0060ff;
	top:-2px
}
.h-partners__text{
	margin:24px 0 12px;
	font-weight:700;
	line-height:normal;
	font-size:16px;
	text-align:center
}
@media(max-width: 768px){
	.h-partners__text{
		font-size:14px;
		margin:18px 0 12px
	}
}
.h-partners__link{
	display:flex;
	justify-content:center
}
.h-partners__link a{
	display:flex;
	align-items:center;
	border-radius:64px;
	border:1px solid #0060ff;
	height:53px;
	background:#0060ff;
	font-weight:700;
	font-size:14px;
	color:#fff;
	transition:all .5s ease;
	text-decoration:none;
	width:192px;
	text-align:center;
	justify-content:center
}
@media(max-width: 768px){
	.h-partners__link a{
		width:178px;
		height:43px;
		font-size:12px;
		margin:0 auto
	}
}
.h-partners__link a:hover{
	background:rgba(0,0,0,0);
	color:#0060ff
}
.sustainability{
	margin-bottom:100px
}
@media(max-width: 768px){
	.sustainability{
		margin-bottom:70px
	}
}
.sustainability__wrap{
	display:grid;
	grid-template-columns:520px 1fr;
	gap:0 80px
}
@media(max-width: 1024px){
	.sustainability__wrap{
		grid-template-columns:350px 1fr;
		gap:0 40px
	}
}
@media(max-width: 768px){
	.sustainability__wrap{
		display:flex;
		flex-direction:column-reverse
	}
}
.sustainability__title{
	font-weight:400;
	line-height:normal;
	font-size:44px;
	margin-bottom:12px;
	font-family:"Lao MN",sans-serif
}
@media(max-width: 1024px){
	.sustainability__title{
		font-size:36px
	}
}
@media(max-width: 768px){
	.sustainability__title{
		display:none
	}
}
.sustainability__content{
	margin-bottom:24px
}
.sustainability__content p{
	margin-bottom:12px;
	line-height: 140%;
}
.sustainability__content p:last-child{
	margin-bottom:0
}
.sustainability__bold-text{
	margin-bottom:11px;
	font-weight:700;
	line-height:normal;
	font-size: 16px;
    max-width: 360px;
}
@media(max-width: 768px){
	.sustainability__bold-text{
		font-size:14px;
		margin:0 auto 12px
	}
}
.sustainability__btn{
	display:flex
}
@media(max-width: 768px){
	.sustainability__btn{
		justify-content:center
	}
}
.sustainability__title-mobile{
	display:none
}
@media(max-width: 768px){
	.sustainability__title-mobile{
		display:block;
		margin-bottom:12px;
		font-weight:400;
		line-height:normal;
		font-size:24px;
		font-family:"Lao MN",sans-serif
	}
}
.sustainability__img{
	display:flex;
	width:100%
}
@media(max-width: 768px){
	.sustainability__img{
		width:auto;
		margin:0 auto 24px
	}
}
.h-news{
	margin-bottom:100px
}
.h-news__title{
	text-align:center;
	margin-bottom:12px;
	font-family:"Lao MN",sans-serif;
	font-weight:400;
	line-height:normal;
	font-size:44px
}
@media(max-width: 768px){
	.h-news__title{
		font-size:24px
	}
}
.h-news__description{
	max-width:450px;
	margin:0 auto 44px;
	text-align:center;
	font-size:16px;
}
@media(max-width: 768px){
	.h-news__description{
		font-size:14px;
		margin:0 auto 36px
	}
}
.h-news__description p{
	margin:0
}
.h-news__wrap{
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	gap:0 20px;
	margin-bottom:39px
}
@media(max-width: 1024px){
	.h-news__wrap{
		grid-template-columns:repeat(2, 1fr);
		gap:30px 20px
	}
}
@media(max-width: 500px){
	.h-news__wrap{
		display:block
	}
}
.h-news__item{
	position:relative
}
@media(max-width: 768px){
	.h-news__item:not(:last-child){
		margin-bottom:24px
	}
}
.h-news__item:before{
	content:"";
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	background:linear-gradient(180deg, #fff 0%, rgba(0, 0, 0, 0) 100%);
	height:100px;
	transform:rotate(180deg)
}
.h-news__img{
	display:flex;
	width:100%;
	height:202px;
	margin-bottom:18px
}
@media(max-width: 768px){
	.h-news__img{
		height:190px
	}
}
.h-news__img img{
	width:100%;
	height:100%;
	-o-object-fit:cover;
	object-fit:cover;
	border-radius:8px
}
.h-news__heading{
	display:flex;
	margin-bottom:12px;
	font-weight:600;
	line-height:140%;
	font-size:18px;
	text-decoration:none;
	color:#000;
	transition:color .5s ease
}
@media(max-width: 768px){
	.h-news__heading{
		font-size:14px;
		margin-bottom:12px
	}
}
.h-news__heading:hover{
	color:#0060ff
}
.h-news__except{
	line-height:140%;
	font-size:14px
}
@media(max-width: 768px){
	.h-news__except{
		font-size:12px
	}
}
.h-news__except p{
	margin:0
}

/*------------ experience ----------------------------*/
.section__bottom {
	margin: 0 0 100px;
}
.bottom__body {
	background: linear-gradient(87deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.26) 79.91%), url('../img/bottom_img_index.jpg') center / cover no-repeat;
	border-radius: 18px;
	padding: 80px 64px;
	.bottom__title {
		color: #FFF;
		font-family: "Lao MN";
		font-size: 44px;
		font-style: normal;
		font-weight: 250;
		line-height: normal;
		margin-bottom: 24px;
	}
	p {
		color: #FFF;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		max-width: 407px;
	}
	p:not(:last-child) {
		margin-bottom: 24px;
	}
	.bottom_button {
		a {
			color: #FFF;
			text-align: center;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			border-radius: 64px;
			border: 1px solid #0060FF;
			background: #0060FF;
			padding: 14px 54px;
			margin-top: 20px;
			display: inline-flex;
			transition: all 0.3s ease 0s;
			&:hover {
				background: transparent;
				color: #0060FF;
			}
		}
	}
	
}


/*-------------------- Footer -------------------------------------------------------*/
.footer {
	background: #002F7D;
	padding: 54px 0;
}
.footer__body {
	display: grid;
	grid-template-columns: 230px 410px 1fr;
}
.footer__logo {
	display: flex;
	flex-direction: column;
	a {
		display: block;
		margin-bottom: 24px;
		img {
			max-width: 100px;
		}
	}
	span {
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 140%;
	}
}
.footer__address {
	.address_list {
		display: flex;
		flex-direction: column;
		li {
			color: #fff;
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: 160%;
			a {
				color: #fff;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: 160%;
			}
			.mail {
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-decoration-line: underline;
			
			}
			.tel {
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: 140%;
				
			}
		}
		.li_margin {
			margin-top: 30px;
		}
		li:not(:last-child) {
			margin-bottom: 6px;
		}
	}
}
	
.footer__navigation {
	display: flex;
	justify-content: space-between;
}
.navigation_list {
	margin: 0 36px;
	h4 {
		color: #fff;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 140%; /* 19.6px */
		text-transform: uppercase;
		margin-bottom: 12px;
	}
	.navigation_left, 
	.navigation_center, 
	.navigation_right {
		li {
			margin-bottom: 18px;
			a {
				color: #fff;
				position: relative;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: 140%;
				font-family: 'Montserrat';
				&:before {
					content: "";
					position: absolute;
					top: 100%;
					left: 50%;
					width: 0;
					height: 1px;
					background: #ffffff;
					transition: all .5s ease;
				}
				&:hover:before {
					width: 100%;
					left: 0;
				}
				&:hover {
					color: #ffffff;
				}
			}
		}
	}
}
.copyright {
	display: flex;
	justify-content: flex-end;
	padding: 0 30px 0 0;
	span {
		font-size: 10px;
		color: #fff;
		font-style: normal;
		font-weight: 700;
		line-height: 140%;
	}

}
@media screen and (max-width:1170.98px) {
	.footer__body {
		display: grid;
		grid-template-columns: 200px 290px 1fr;
	}
}
@media screen and (max-width:992.98px) {
	.footer__body {
		display: grid;
		grid-template-columns: 160px 220px 1fr;
	}
}
@media screen and (max-width:959.98px) {
	
}
@media screen and (max-width:859.98px) {
	.footer__body {
		display: grid;
		grid-template-columns: 130px 220px 1fr;
	}
	.navigation_list {
		margin: 0 20px;
	}
}
@media screen and (max-width:768.98px) {
	.footer__body {
		grid-template-columns: 1fr;
	}
	.footer__logo {
		align-items: center;
		margin-bottom: 14px;
		span {
			text-align: center;
		}
	}
	.footer__address {
		display: flex;
		justify-content: center;
		.address_list {
			margin-left: 0;
			text-align: center;
			li:not(:last-child) {
				margin-bottom: 32px;
			}
		}
	}
	.footer__navigation {
		margin: 45px 0 30px;
		justify-content: center;
		.navigation_list {
			margin: 0px 36px;
		}
	}
	.copyright {
		justify-content: center;
		padding: 0 30px;
	}
}
@media screen and (max-width:540.98px) {
	.footer__navigation {
		display: grid;
		grid-template-columns: 1fr 1fr;
		.navigation_list:last-child {
			margin-top: 30px;
			width: 100%;
		}
	}
	
}
@media screen and (max-width:480.98px) {
	.footer__navigation .navigation_list {
		margin: 0px 20px;
		// width: 100%;
	}

}

/*-------------------------- Koocies ------------------------------------------------*/
.koocies_container {
	display:flex;
	justify-content:center;
}
.koocies {
	position: fixed;
	max-width: 1280px;
	bottom: 0;
	padding: 32px 24px;
	background: #000;
	border-radius: 24px 24px 0 0;
	width: 100%;
	z-index: 30;
}
.koocies {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.koocies.show {
    opacity: 1;
    visibility: visible;
}
.koocies.show body {
	background: rgba(0, 0, 0, 0.5);
}
.koocies__wrapp {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.koocies__left {
		display: flex;
		align-items: center;
		img {
			max-width: 44px;
			margin-right: 24px;
		}
		.koocies__text {
			display: flex;
			flex-direction: column;
			.text__koocie {
				font-family: 'Lao MN';
				font-size: 24px;
				line-height: 130%;
				color: #fff;
			}
			.link__koocie {
				font-size: 14px;
				font-weight: 600;
				color: #609CFF;
				text-decoration: underline;
			}
		}
	}
	.koocies__right {
		.koocies__buttons {
		}
		.koocie__btn {
			font-size: 12px;
			font-weight: 700;
			padding: 17px;
			width: 180px;
			border-radius: 30px;
			color: #fff;
			border: none;
			background: transparent;
			cursor: pointer;
			transition: all 0.2s ease 0s;
		}
		.btn__reject {
			border: 1px solid #fff;
			&:hover {
				background: #fff;
				color: #0060FF;
			}
		}
		.btn__accept {
			background: #0060FF;
			margin-left: 18px;
			border: 1px solid #0060FF;
			&:hover {
				background: #0050d2;
			}
		}
	}
	
}



/*----------------------------------------------------------------------------------------*/
/*------------------------------ Media query ---------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
@media screen and (min-width:1439.98px) { 
	.head__images-desc {
		position: absolute;
		right: 0;
		bottom: -90px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 26.34375vw;
		height: 36.3020833333vw;
		width: 100%;
	}
}
@media screen and (min-width:1512.98px) { 
	.head__images-desc {
		max-width: 460px;
		height: 440px;
	}
}



@media screen and (max-width:992.98px) {
	.block_container {
		max-width: 60%;
	}
}

@media screen and (max-width:959.98px) {

	/*-------- Mobile menu style ---------*/
	.menu__icon {
		display: block;
		z-index: 5;
		position: relative;
		width: 28px;
		height: 28px;
		cursor: pointer;
		position: absolute;
		right: 18px;
		top: 32px;
		border-radius: 4px;
		background: #0060FF;
		span {
			position: absolute;
			left: 7px;
			top: 8px;
			height: 1px;
			width: 14px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
			border-radius: 2px;
		}
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 14px;
			left: 7px;
			height: 1px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
			border-radius: 2px;
		}
		&::before {
			top: 14px;
		}
		&::after {
			bottom: 7px;
		}
		&._active span {
			transform: scale(0) translate(0px, -50%);
		}
		&._active::before {
			top: 50%;
			left: 7px;
			width: 15px;
			transform: rotate(-45deg) translate(0px, -50%);
		}
		&._active::after {
			top: 50%;
			left: 6px;
			width: 15px;
			transform: rotate(45deg) translate(0px, -50%);
		}
	}
	
	/*----------------- style mobile menu --------------------------*/
	.header__main {
		.header__menu {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s ease 0s;
			transform: translate(100%);
			border: none;
			border-radius: 0;
			background: #fff;
			height: 100vh;
			left: 0;
			top: 0;
			.menu__list {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-right: 0;
				.menu__link {
					margin-bottom: 20px;
					font-size: 18px;
					color: #000;
				}
				.carrent-menu__link {
					.arrow_mob {
						display: block;
					}
					.arrow_desc {
						display: none;
					}
					.sub-menu__List {
						text-align: center;
						z-index: 10;
						margin-top: 30px;
						.sub-menu__link {
							margin-bottom: 20px;
						}
					}
				}
			}
			.header__button-mobile { 
				margin-top: 20px;
				display: block;
				position: relative;
				.contact_us {
					background: #0060FF;
					color: #fff;
				}
			}
		}
		._active {
			visibility: visible;
			opacity: 1;
			transform: translate(0);
		}
		.header__button {
			display: none;
		}
	}
	.header__main .header__menu .menu__list .carrent-menu__link:hover {
		color: #000000;
	}
	.head__images-desc {
		max-width: 440px;
		height: 430px;
	}
	
	.koocies__wrapp {
		flex-direction: column;
		.koocies__right {
			margin-top: 20px;
		}
	}
}

@media screen and (max-width:768.98px) {
	.head__images-desc {
		display: none;
	}
	.head__images-mobile {
		display: flex;
	}
	.block_container {
		max-width: 100%;
	}
	.head__wrapper {
		padding-top: 130px;
	}
	.head__description {
		margin-top: 505px;
	}
	.content .image_height {
		height: 300px;
	}
	.bottom__body {
		padding: 40px 32px;
		.bottom__title {
			font-size: 24px;
		}
		p {
			font-size: 14px;
		}
	}
}
@media screen and (max-width:560.98px) {
	.koocies__wrapp .koocies__left .koocies__text .text__koocie {
		font-size: 18px;
	}
	.koocies__wrapp .koocies__right .koocie__btn {
		padding: 12px;
		width: 130px;
	}
}
@media screen and (max-width:480.98px) {
	.head__title {
		font-size: 24px;
		text-align: center;
	}
	.head__description {
		margin-top: 340px;
	}
	.content .image_height_2{
		height: 180px;
	}
	.our-prods {
		.head__list-mob {
			li:last-child {
				margin-top: 30px;
			}
		}
	}
	.content .image_height {
		height: 180px;
	}
}

@media screen and (max-width:414.98px) {
	.koocies {
		padding: 20px 10px;
	}
	.koocies__wrapp .koocies__left img {
		max-width: 30px;
		margin-right: 16px;
		.koocies__text .text__koocie {
			font-size: 14px;
		}
	}
	
}


/*# sourceMappingURL=main.css.map */
