/*------------------------------------------------------*/
/*------------------- Popups ---------------------------*/
/*------------------------------------------------------*/
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 22;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease 0s;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content {
	opacity: 1;
	transform: translate(0px, 0px);
}

.popup__body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	max-width: 840px;
	margin: 0 10px;
	position: relative;
	transition: all 0.3s ease 0s;
	opacity: 0;
	transform: translate(0%, 10%);
	margin-top: 40px;
	margin-bottom: 20px;
}

.popup__close {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	width: 32px;
	height: 32px;
}

/*------------ Form style -----------------------*/
.form__contact {
	position: relative;
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	padding: 34px 24px;
	border-radius: 12px;
	width: 678px;
	&::after {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #ffffff40 url('../img/loading.gif') center / 50px no-repeat;
		opacity: 0;
		visibility: hidden;
	}
	h4 {
		font-family: "Lao MN";
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
	}
	span {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-align: center;
		margin-bottom: 24px;
	}
	.input__croup {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 12px;
	}
	.input__croup ._error {
		border: 1px solid red;
	}
	input._error {
		border: 1px solid red;
	}
	.input_date {
		color: #000 !important;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		font-family: 'Montserrat';
		border-radius: 8px;
		background: #F6F6F6;
		padding: 18px;
		border: none;
		margin-bottom: 12px;
	}

	.bottom__action {
		display: flex;
		align-items: center;
		justify-content: space-between;				
		.policy__check {
			display: flex;
            align-items: center;
			font-size: 12px;
			.policy {
				margin-right: 7px;
				width: 24px;
				height: 24px;
				border: 1px solid #000;
			}
			.policy._error {
				border: 1px solid red;
			}
		}
		.contact__btn {
			color: #FFF;
			text-align: center;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			border-radius: 64px;
			border: 1px solid #0060FF;
			background: #0060FF;
			padding: 14px 54px;
			display: inline-flex;
			transition: all 0.3s ease 0s;
			cursor: pointer;
			&:hover {
				background: transparent;
				color: #0060FF;
			}

		}
	}
	
}
.form__contact._sending::after {
	opacity: 1;
	visibility: visible;
}
@media screen and (max-width: 768.98px) {
	.form__contact {
		width: 100%;
	}
}


@media screen and (max-width: 414.98px) {
	.form__contact {
		.input__croup {
			grid-template-columns: 1fr;
			margin-bottom: 12px;
			.input_date {
				margin-bottom: 0;
			}
		}
		.bottom__action {
			flex-direction: column;
			.policy__check {
				margin: 15px 0;
			}
		}
	}
}

