/*------------------------------------------------------*/
/*------------------- Popups ---------------------------*/
/*------------------------------------------------------*/
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease 0s;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content {
	opacity: 1;
	transform: translate(0px, 0px);
}

.popup__body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	max-width: 840px;
	margin: 0 10px;
	position: relative;
	transition: all 0.3s ease 0s;
	opacity: 0;
	transform: translate(0%, 10%);
	margin-top: 40px;
	margin-bottom: 20px;
}

.popup__close {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	width: 15px;
	height: 15px;
}
/*------------ Form style -----------------------*/
.form__body {
	background: #1A1A1A;
	padding: 60px 50px;
}
.form__title {
	font-family: Conthrax;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.form__sub-title {
	text-transform: none;
}
.form__wrapper {
	margin-top: 40px;
}
.form__item label{
	font-family: Conthrax;
}
.policy__check {
	display: flex;
	margin-top: 30px;
	label {
		font-size: 14px;
		font-weight: 300;
		a {
			color: #0060FF;
			text-decoration: underline;
		}
	}
	input[type=checkbox] {
		display: none;
	}
	input[type=checkbox] + label:before {
		content: '';
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 2px;
		border: 1px solid #000;
		margin: -2px 20px 0 0;
		height: 24px;
		width: 24px;
		text-align: center;
		vertical-align: middle;
		transition: color ease .3s;
	}
	input[type=checkbox]:checked + label:before {
		background: #fff;
		content: url(../img/check.svg);
	}
}

@media screen and (max-width: 414.98px){
	.form__body {
		padding: 40px 30px;
	}
	.form__title {
		font-size: 17px;
	}
	.form__sub-title {
		font-size: 14px;
	}

}

