@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul, ol {
  padding: 0;
}
ul li, ol li {
  list-style: none;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  background-color: #FFFFFF;
  line-height: 1.1;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #000;
  height: 100%;
}

body._lock {
  overflow: hidden;
}

/*----- для модалок ----*/
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*---------------------------*/
[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

/*---------------------------*/
.page {
  flex: 1 1 auto;
  position: relative;
}

/*--------------------------------------*/
/*--------- Bg style -------------------*/
/*--------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------ Buttons style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*------------ Header style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.header {
  z-index: 3;
  padding: 28px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CECECE;
  padding: 15px;
  border-radius: 40px;
}
.header__menu .menu__list {
  display: flex;
}
.header__menu .menu__list .menu__link {
  font-size: 14px;
  font-weight: 500;
  margin: 0 14px;
}
.header__menu .menu__list .menu__link a {
  position: relative;
}
.header__menu .menu__list .menu__link a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background: #000;
  transition: all 0.5s ease;
}
.header__menu .menu__list .menu__link a:hover:before {
  width: 100%;
  left: 0;
}
.header__menu .menu__list .menu__link a:hover {
  color: #000;
}
.header__menu .menu__list .carrent-menu__link {
  position: relative;
}
.header__menu .menu__list .carrent-menu__link:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background: #000;
  transition: all 0.5s ease;
}
.header__menu .menu__list .carrent-menu__link:hover:before {
  width: 100%;
  left: 0;
}
.header__menu .menu__list .carrent-menu__link:hover {
  color: #000;
}
.header__menu .menu__list .carrent-menu__link {
  display: flex;
  position: relative;
  cursor: pointer;
  transform: rotateX(0deg);
  z-index: 10;
}
.header__menu .menu__list .carrent-menu__link img {
  width: 12px;
  margin-left: 18px;
}
.header__menu .menu__list .carrent-menu__link .sub-menu__List {
  position: absolute;
  margin-top: 45px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform-origin: top center;
  background-color: #fff;
  padding: 20px 15px;
  width: 126%;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}
.header__menu .menu__list .carrent-menu__link .sub-menu__List .sub-menu__link {
  margin-bottom: 15px;
}
.header__menu .menu__list .carrent-menu__link img {
  transition: transform 0.5s ease; /* добавляем анимацию поворота для изображения */
}
.header__menu .menu__list .carrent-menu__link.clicked img {
  transform: rotate(180deg); /* поворачиваем изображение на 180 градусов при активации */
}
.header__menu .menu__list .carrent-menu__link.clicked .sub-menu__List {
  visibility: visible;
  opacity: 1;
}
.header__menu .header__button-mobile {
  display: none;
}

.btn__header {
  display: flex;
}
.btn__header a {
  color: #fff;
  padding: 14px 44px;
  background: #0060FF;
  border: 1px solid #0060FF;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.btn__header a:hover {
  background: transparent;
  border: 1px solid #0060FF;
  color: #0060FF;
}

.menu__icon {
  display: none;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.title__h1 {
  font-family: "Lao MN";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.title__h2 {
  font-family: "Lao MN";
  font-size: 44px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  text-transform: uppercase;
}

.title__h3 {
  font-family: "Lao MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

/*------------ main__section style ------------------------------*/
.section__hero-sm .sm-hero__body {
  margin-top: 160px;
}
.section__hero-sm .sm-hero__body .sm-hero__title {
  text-align: center;
}
.section__hero-sm .sm-hero__body .sm-hero__text {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 1026px;
  margin: 0 auto 44px;
}
.section__hero-sm .sm-hero__body .sm-hero__content .sm-hero__image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.section__hero-sm .sm-hero__body .sm-hero__content .sm-hero__block-text {
  margin-top: 44px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
}
.section__hero-sm .sm-hero__body .sm-hero__content .sm-hero__block-text .text__block h3 {
  font-family: "Lao MN";
  font-size: 24px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin-bottom: 24px;
}
.section__hero-sm .sm-hero__body .sm-hero__content .sm-hero__block-text .text__block p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
}

/*------------ Slider -------------------------------------------*/
.section__choose {
  margin-top: 100px;
  padding-bottom: 50px;
}

.choose__title {
  text-align: center;
  margin-bottom: 44px;
}

.choose__slider {
  min-width: 0;
  position: relative;
}

.slider__item img {
  margin-bottom: 20px;
  border-radius: 8px;
}
.slider__item h3 {
  font-family: "Lao MN";
  font-size: 20px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin-bottom: 8px;
}
.slider__item p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 80px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide-active {
  width: 30%;
}
.swiper-slide-active .slider__item {
  background: #0060FF;
  padding: 10px;
  border-radius: 12px;
  color: #fff;
}

.swiper-button-next, .swiper-button-prev {
  top: 97%;
}

.swiper-button-prev {
  position: absolute;
  width: 43px;
  left: 35%;
}

.swiper-button-next {
  position: absolute;
  width: 43px;
  right: 35%;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "";
}

/*------------ Products ----------------------------*/
.products__section {
  margin-top: 100px;
  padding-bottom: 50px;
}

.products__body .products__subtitle {
  text-align: center;
  max-width: 1050px;
  font-family: "Lao MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto 32px;
}
.products__body .products__title {
  text-align: center;
  font-family: "Lao MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.products__body .products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 44px;
}
.products__body .products__items .item__product {
  position: relative;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.07);
  padding: 14px;
}
.products__body .products__items .item__product img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 284px;
  padding: 15px 30px;
  max-width: 100%;
}
.products__body .products__items .item__product h4 {
  font-family: "Lao MN";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 130px;
}
.products__body .products__items .item__product .product_btn {
  position: absolute;
  margin: 0 auto;
  bottom: 64px;
  left: calc(50% - 97px);
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease 0s;
  border: 1px solid transparent;
  border-radius: 64px;
  background: #0060FF;
  padding: 18px 0;
  text-align: center;
  width: 194px;
}
.products__body .products__items .item__product .product_btn:hover {
  background: transparent;
  border: 1px solid #0060FF;
  color: #0060FF;
}

/*------------ Portfolio ----------------------------*/
.section__portfolio {
  margin: 70px 0;
}

.portfolio__body .portfolio__titlle {
  text-align: center;
  font-family: "Lao MN";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.portfolio__body .portfolio__video {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 44px 0;
}
.portfolio__body .portfolio__video .video__item {
  display: flex;
  flex-direction: column;
}
.portfolio__body .portfolio__video .video__item iframe {
  border-radius: 8px;
}
.portfolio__body .portfolio__video .video__item span {
  font-family: "Lao MN";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 12px 0;
}
.portfolio__body .portfolio__video .video__item:hover span {
  color: #0060FF;
}

.content__form .form__contact {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 34px 24px;
  border-radius: 12px;
  width: 678px;
}
.content__form .form__contact::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2509803922) url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
}
.content__form .form__contact h4 {
  font-family: "Lao MN";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
  margin-bottom: 32px;
  text-align: left;
}
.content__form .form__contact span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 24px;
}
.content__form .form__contact .input__croup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.content__form .form__contact .input__croup ._error {
  border: 1px solid red;
}
.content__form .form__contact input._error {
  border: 1px solid red;
}
.content__form .form__contact .input_date {
  color: #000 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Montserrat";
  border-radius: 8px;
  background: #F6F6F6;
  padding: 18px;
  border: none;
  margin-bottom: 12px;
}
.content__form .form__contact .bottom__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__form .form__contact .bottom__action .policy__check {
  display: flex;
  align-items: center;
}
.content__form .form__contact .bottom__action .policy__check .policy {
  position: relative;
  display: none;
}
.content__form .form__contact .bottom__action .policy__check .policy:checked + .policy__label::after {
  transform: scale(1);
}
.content__form .form__contact .bottom__action .policy__check .policy__label {
  position: relative;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.content__form .form__contact .bottom__action .policy__check .policy__label::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-right: 10px;
}
.content__form .form__contact .bottom__action .policy__check .policy__label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 5px;
  background: url("../img/check.svg") no-repeat;
  transform: scale(0);
}
.content__form .form__contact .bottom__action .policy__check._error .policy__label::before {
  border: 1px solid red;
}
.content__form .form__contact .bottom__action .contact__btn {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid #0060FF;
  background: #0060FF;
  padding: 14px 54px;
  display: inline-flex;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.content__form .form__contact .bottom__action .contact__btn:hover {
  background: transparent;
  color: #0060FF;
}

.form__contact._sending::after {
  opacity: 1;
  visibility: visible;
}

/*----------------------------------------------------------------------------------------*/
/*------------ Footer style --------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.footer {
  background: #002F7D;
  padding: 54px 0;
}

.footer__body {
  display: grid;
  grid-template-columns: 230px 410px 1fr;
}

.footer__logo {
  display: flex;
  flex-direction: column;
}
.footer__logo a {
  display: block;
  margin-bottom: 24px;
}
.footer__logo a img {
  max-width: 100px;
}
.footer__logo span {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.footer__address .address_list {
  display: flex;
  flex-direction: column;
}
.footer__address .address_list li {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.footer__address .address_list li a {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.footer__address .address_list li .mail {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.footer__address .address_list li .tel {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.footer__address .address_list li:not(:last-child) {
  margin-bottom: 44px;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
}

.navigation_list {
  margin: 0 36px;
}
.navigation_list h4 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  text-transform: uppercase;
  margin-bottom: 12px;
}
.navigation_list .navigation_left li,
.navigation_list .navigation_center li,
.navigation_list .navigation_right li {
  margin-bottom: 18px;
}
.navigation_list .navigation_left li a,
.navigation_list .navigation_center li a,
.navigation_list .navigation_right li a {
  color: #fff;
  position: relative;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  font-family: "Montserrat";
}
.navigation_list .navigation_left li a:before,
.navigation_list .navigation_center li a:before,
.navigation_list .navigation_right li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background: #ffffff;
  transition: all 0.5s ease;
}
.navigation_list .navigation_left li a:hover:before,
.navigation_list .navigation_center li a:hover:before,
.navigation_list .navigation_right li a:hover:before {
  width: 100%;
  left: 0;
}
.navigation_list .navigation_left li a:hover,
.navigation_list .navigation_center li a:hover,
.navigation_list .navigation_right li a:hover {
  color: #ffffff;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px 0 0;
}
.copyright span {
  font-size: 10px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

@media screen and (max-width: 1170.98px) {
  .footer__body {
    display: grid;
    grid-template-columns: 200px 290px 1fr;
  }
}
@media screen and (max-width: 992.98px) {
  .footer__body {
    display: grid;
    grid-template-columns: 160px 220px 1fr;
  }
}
@media screen and (max-width: 859.98px) {
  .footer__body {
    display: grid;
    grid-template-columns: 130px 220px 1fr;
  }
  .navigation_list {
    margin: 0 20px;
  }
}
@media screen and (max-width: 768.98px) {
  .footer__body {
    grid-template-columns: 1fr;
  }
  .footer__logo {
    align-items: center;
    margin-bottom: 14px;
  }
  .footer__logo span {
    text-align: center;
  }
  .footer__address {
    display: flex;
    justify-content: center;
  }
  .footer__address .address_list {
    margin-left: 0;
    text-align: center;
  }
  .footer__address .address_list li:not(:last-child) {
    margin-bottom: 32px;
  }
  .footer__navigation {
    margin: 45px 0 30px;
    justify-content: center;
  }
  .footer__navigation .navigation_list {
    margin: 0px 36px;
  }
  .copyright {
    justify-content: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 540.98px) {
  .footer__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__navigation .navigation_list:last-child {
    margin-top: 30px;
  }
}
@media screen and (max-width: 480.98px) {
  .footer__navigation .navigation_list {
    margin: 0px 20px;
    width: 100%;
  }
}
/*=========================================================================================*/
/*=========================================================================================*/
/*============================ Media queries ==============================================*/
/*=========================================================================================*/
/*=========================================================================================*/
@media screen and (max-width: 959.98px) {
  /*-------- Mobile menu style ---------*/
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 32px;
    border-radius: 4px;
    background: #0060FF;
  }
  .menu__icon span {
    position: absolute;
    left: 7px;
    top: 8px;
    height: 1px;
    width: 14px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
    position: absolute;
    width: 14px;
    left: 7px;
    height: 1px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon::before {
    top: 14px;
  }
  .menu__icon::after {
    bottom: 7px;
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    left: 7px;
    width: 15px;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    left: 6px;
    width: 15px;
    transform: rotate(45deg) translate(0px, -50%);
  }
  /*----------------- style mobile menu --------------------------*/
  .header__menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: translate(100%);
    border: none;
    border-radius: 0;
    background: #fff;
    height: 100vh;
    left: 0;
    top: 0;
  }
  .header__menu .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .header__menu .menu__list .menu__link {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .header__menu .menu__list .carrent-menu__link .sub-menu__List {
    width: 100%;
    text-align: center;
    padding: 20px;
    z-index: 10;
    margin-top: 30px;
  }
  .header__menu .menu__list .carrent-menu__link .sub-menu__List .sub-menu__link {
    margin-bottom: 20px;
  }
  .header__menu .header__button-mobile {
    margin-top: 20px;
    display: block;
    position: relative;
  }
  ._active {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
  }
  .header__button {
    display: none;
  }
}
@media screen and (max-width: 859.98px) {
  .portfolio__body .portfolio__video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 32px 0;
  }
}
@media screen and (max-width: 768.98px) {
  .title__h1 {
    font-size: 32px;
  }
  .title__h2 {
    font-size: 24px;
  }
  .sm-hero__text {
    font-size: 14px;
  }
  .sm-hero__content .sm-hero__block-text {
    margin-top: 20px;
  }
  .sm-hero__content .sm-hero__block-text .text__block h3 {
    font-size: 18px;
  }
  .sm-hero__content .sm-hero__block-text .text__block p {
    font-size: 14px;
  }
  .swiper-button-next, .swiper-button-prev {
    top: 96.5%;
  }
  .swiper-button-prev {
    left: 5%;
  }
  .swiper-button-next {
    right: 5%;
  }
  .products__body .products__subtitle {
    font-size: 22px;
  }
  .products__body .products__title {
    font-size: 24px;
  }
  .products__body .products__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .portfolio__body .portfolio__titlle {
    font-size: 24px;
  }
}
@media screen and (max-width: 559.98px) {
  .section__hero-sm .sm-hero__body .sm-hero__content .sm-hero__block-text {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
  .section__hero-sm .sm-hero__body .sm-hero__content .sm-hero__block-text .text__block h3 {
    font-size: 20px;
  }
  .section__hero-sm .sm-hero__body .sm-hero__content .sm-hero__block-text .text__block p {
    font-size: 14px;
  }
  .section__hero-sm .sm-hero__body .sm-hero__content .sm-hero__image img {
    height: 180px;
  }
  .portfolio__body .portfolio__video {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin: 32px 0;
  }
}
@media screen and (max-width: 479.98px) {
  .choose__slider {
    margin-left: 5px;
    margin-right: 5px;
  }
  .slider__item h3 {
    font-size: 18px;
    padding: 0 16px;
  }
  .slider__item p {
    font-size: 12px;
    padding: 0 16px 24px;
  }
  .products__body .products__items .item__product img {
    padding: 0 10px 30px;
  }
  .products__body .products__items .item__product h4 {
    font-size: 16px;
  }
  .products__body .products__items .item__product .product_btn {
    left: calc(50% - 83px);
    bottom: 56px;
    padding: 15px 0;
    width: 166px;
  }
}
@media screen and (max-width: 414.98px) {
  .products__body .products__body .products__subtitle {
    font-size: 16px;
  }
  .products__body .products__title {
    font-size: 20px;
  }
  .products__body .products__items .item__product img {
    padding: 3.25rem 0.325rem;
  }
  .products__body .products__items .item__product h4 {
    margin-bottom: 90px;
    font-size: 14px;
  }
  .products__body .products__items .item__product .product_btn {
    left: calc(50% - 73px);
    bottom: 36px;
    padding: 12px 0;
    width: 146px;
    font-size: 12px;
  }
}/*# sourceMappingURL=smart_packaging.css.map */